<section class="customer" id="customer">
    <div class="container customer-container">
        <h2 class="customer-title">What our Customers Say</h2>
        <p class="customer-text">Don't just take our word for it - see what our satisfied customers have to say</p>
        <ul class="customer-list">
            <li class="customer-item">
                <img class="star-image" src="./img/customer/stars-min.png" alt="star rating" />
                <p class="text-item-customer">“The Best app I have used to order food in a while, so many options to
                    choose from too, I would recommend to a freind,
                    No questions asked”</p>
                <div class="avatar-customer-box">

                    <picture class="image-box-customer">
                        <source srcset="./img/customer/men-ava9-min.png 1x, ./img/customer/men-ava@2x-min.png 2x"
                            media="(min-width:320px)" />
                        <img src="./img/customer/men-ava9-min.png" alt="customers avatar" />
                    </picture>

                    <div class="text-box-customer">
                        <p class="first-text-customer">Simon Vaker</p>
                        <p class="second-text-customer">guest</p>
                    </div>
                </div>
            </li>
            <li class="customer-item">
                <img class="star-image" src="./img/customer/stars-min.png" alt="star rating" />
                <p class="text-item-customer">“The ease with which I can just go in and order what i want was amazing,
                    It has been a very pleasant experience ordering
                    from this app”</p>
                <div class="avatar-customer-box">
                    <div class="image-box-customer">
                        <picture>
                            <source srcset="./img/customer/women-ava-min.png 1x, ./img/customer/women-ava@2x-min.png 2x"
                                media="(min-width:320px)" />
                            <img src="./img/customer/women-ava-min.png" alt="customers avatar" />
                        </picture>
                    </div>
                    <div class="text-box-customer">
                        <p class="first-text-customer">Robin Lunney</p>
                        <p class="second-text-customer">guest</p>
                    </div>

                </div>
            </li>

        </ul>
    </div>
</section>