<section class="footer-food" id="footer-food">
    <div class="container footer-food-container">
        <div class="footer-nav-form-box">
            <div class="footer-nav">
                <a class="footer-logo-link" href="./index.html" aria-label="Website logo">
                    <img src="./img/logo-foodSta.svg" alt="Website logo" width="66" height="52">
                </a>

                <ul class="footer-list">
                    <li class="footer-item-home"><a href="./index.html">Home</a></li>
                    <li class="footer-item"><a href="#about">About</a></li>
                    <li class="footer-item"><a href="#customer">Reviews</a></li>
                    <li class="footer-item"><a href="#menu">Menu</a></li>
                    <li class="footer-item"><a href="#footer-food">Contact</a></li>

                </ul>
            </div>

            <form class="subscribe-footer-form" novalidate>
                <h3 class="title-form-footer">Subscribe</h3>
                <div class="footer-input-form-box">
                    <input autocomplete="off" type="email" name="email" id="email" placeholder="Enter your email"
                        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required class="footer-form-input-mail"
                        aria-label="Your email" />
                    <datalist id="email-list"></datalist>
                    <span class="footer-valid-notification"></span>

                    <button type="submit" class="footer-form-submit-btn" aria-label="submit">
                        Subscribe
                    </button>
                </div>
                <p class="first-footer-text">By subscribing you agree to with our <span class="footer-link">Privacy
                        Policy</span></p>
            </form>
        </div>


        <div class="footer-link-boks">
            <ul class="footer-list-link">
                <li class="footer-list-item">
                    <a class="footer-link" href="#">Privacy Policy</a>
                </li>
                <li class="footer-list-item">
                    <a class="footer-link" href="#">Terms of Service</a>
                </li>
                <li class="footer-list-item">
                    <a class="footer-link" href="#">Cookies Settings</a>
                </li>
            </ul>
            <p class="second-footer-text">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</section>