<header class="page-header-foodStr">
    <div class="container container-header">
        <nav class="page-nav-foodStr">
            <div class="page-nav">
                <a class="header-logo-link" href="./index.html" aria-label="Website logo">
                    <img src="./img/logo-foodSta.svg" alt="Website logo" width="66" height="52">
                </a>

                <button type="button" id="menu-open" class="burger-button" aria-label="Open menu navigation">
                    <svg class="burger-button-svg" width="28" height="28">
                        <use href="./img/icon.svg#icon-burger-menu"></use>
                    </svg>
                </button>

                <ul class="header-list">
                    <li class="header-item-home"><a href="./index.html">Home</a></li>
                    <li class="header-item"><a href="#hero">About</a></li>
                    <li class="header-item"><a href="#service">Service</a></li>
                    <li class="header-item"><a href="#menu">Menu</a></li>
                    <li class="header-item"><a href="#subscribe">Contact</a></li>

                </ul>

                <button type="button" class="header-order-now order-now-js">Order Now</button>

            </div>

        </nav>


    </div>


</header>


<button type="button" aria-label="Back to Top button" class="back-to-top-btn">
    <svg class="back-to-top-btn-icon" width="20" height="20">
        <use href="./img/icon.svg#icon-star"></use>
    </svg>
</button>