<header class="page-header-foodStr">
    <div class="container ">
        <nav class="page-nav-foodStr">
            <a class="header-logo-link" href="../index.html" aria-label="Website logo">
                <img src="../img/logo-foodSta.svg" alt="Website logo" width="66" height="52">
            </a>

            <button type="button" class="burger-button" aria-label="Open menu navigation">
                <svg class="burger-button-svg" width="28" height="28">
                    <use href="../img/icon.svg.svg#icon-burger_menu"></use>
                </svg>
            </button>

            <ul class="header-list">
                <li class="header-item-home"><a href="../index.html">Home</a></li>
                <li class="header-item"><a href="">About</a></li>
                <li class="header-item"><a href="">Service</a></li>
                <li class="header-item"><a href="">Menu</a></li>
                <li class="header-item"><a href="">Contact</a></li>

            </ul>

            <a href="" class="header-order-nav">Order Now</a>
        </nav>
    </div>
</header>