<section class="hero" id="hero">
    <div class="container hero-container">
        <div class="hero-main-text">
            <h2 class="hero-title">Enjoy Your Favorite Food From Anywhere</h2>
            <p class="hero-text">With just a few clicks, you can have your favorite meals delivered straight to your
                doorstep, no matter where you are.
                Order now and enjoy a hassle-free and delicious meal from the comfort of your own home.</p>
            <button type="button" class="header-order-now order-now-js">Order Now</button>

        </div>

        <div class="projects-wrapper-image">
            <div class="image-border-container border-up">
                <div class="swiper-container swiper-up">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <picture>
                                <source
                                    srcset="./img/hero/pngwing.com2desctop-min.png 1x, ./img/hero/pngwing.com2desctop@2x-min.png 2x"
                                    media="(min-width: 1280px)" />
                                <source
                                    srcset="./img/hero/pngwing.com2tab-min.png 1x, ./img/hero/pngwing.com2tab@2x-min.png 2x"
                                    media="(max-width: 768px)" />
                                <img src="./img/hero/pngwing.com2tab-min.png" alt="salad-image">
                            </picture>

                        </li>
                        <li class="swiper-slide">
                            <picture>
                                <source
                                    srcset="./img/hero/foto-desctop-min.png 1x, ./img/hero/foto-desctop@2x-min.png 2x"
                                    media="(min-width: 1280px)" />
                                <source srcset="./img/hero/foto-tab-min.png 1x, ./img/hero/foto-tab@2x-min.png 2x"
                                    media="(max-width: 768px)" />
                                <img src="./img/hero/foto-tab-min.png" alt="meat-ball">
                            </picture>
                        </li>
                        <li class="swiper-slide">
                            <picture>
                                <source
                                    srcset="./img/hero/chris-ralston-09desctop3-min.png 1x, ./img/hero/chris-ralston-09desctop3@2x-min.png 2x"
                                    media="(min-width: 1280px)" />
                                <source
                                    srcset="./img/hero/chris-ralston-09tab4-min.png 1x, ./img/hero/chris-ralston-09tab4@2x-min.png 2x"
                                    media="(max-width: 768px)" />
                                <img src="./img/hero/chris-ralston-09tab4-min.png" alt="agg with avocado">
                            </picture>
                        </li>
                    </ul>

                    <svg class="hero-button-prev button-up-left" width="39" height="31">
                        <use href="./img/next-prev.svg#icon-Vector-prev"></use>
                    </svg>


                    <svg class="hero-button-next button-up-right" width="39" height="31">
                        <use href="./img/next-prev.svg#icon-Vector-next"></use>
                    </svg>

                </div>
            </div>
        </div>






    </div>


</section>