<section class="menu-food" id="menu">
    <div class="container">
        <h2 class="menu-title">Some of Our Favorites</h2>
        <p class="menu-text">Looking for something delicious?</p>
        <ul class="menu-img-list">
            <li class="menu-img-item">
                <picture>
                    <source
                        srcset="./img/menu/menu-d/gamburger-d-min.png 1x, ./img/menu/menu-d/gamburger-d@2x-min.png 2x"
                        media="(min-width:1280px)" />
                    <source
                        srcset="./img/menu/menu-t/gamburger-t-min.png 1x, ./img/menu/menu-t/gamburger-t@2x-min.png 2x"
                        media="(min-width:768px)" />
                    <source
                        srcset="./img/menu/menu-m/gamburger-m-min.png 1x, ./img/menu/menu-m/gamburger-m@2x-min.png 2x"
                        media="(max-width:767px)" />
                    <img src="./img/menu/menu-m/gamburger-m-min.png" alt="Gamburger" />
                </picture>
            </li>
            <li class="menu-img-item">
                <picture>
                    <source srcset="./img/menu/menu-d/Pasta-d-min.png 1x, ./img/menu/menu-d/Pasta-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/menu-t/Pasta-t-min.png 1x, ./img/menu/menu-t/Pasta-t@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/menu/menu-m/Pasta-m-min.png 1x, ./img/menu/menu-m/Pasta-m@2x-min.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/menu/menu-m/Pasta-m-min.png" alt="Pasta" />
                </picture>
            </li>
            <li class="menu-img-item">
                <picture>
                    <source srcset="./img/menu/menu-d/pizza-d-min.png 1x, ./img/menu/menu-d/pizza-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/menu-t/pizza-t-min.png 1x, ./img/menu/menu-t/pizza-t@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/menu/menu-m/pizza-m-min.png 1x, ./img/menu/menu-m/pizza-m@2x-min.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/menu/menu-m/pizza-m-min.png" alt="Pizza" />
                </picture>
            </li>
            <li class="menu-img-item">
                <picture>
                    <source srcset="./img/menu/menu-d/chicken-d-min.png 1x, ./img/menu/menu-d/chicken-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/menu-t/chicken-t-min.png 1x, ./img/menu/menu-t/chicken-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/menu/menu-t/chicken-t-min.png" alt="Chicken" />
                </picture>
            </li>
            <li class="menu-img-item">
                <picture>
                    <source srcset="./img/menu/menu-d/salat-d-min.png 1x, ./img/menu/menu-d/salat-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/menu-t/salat-t-min.png 1x, ./img/menu/menu-t/salat-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img//menu//menu-t//salat-t-min.png" alt="Salat" />
                </picture>
            </li>
            <li class="menu-img-item">
                <picture>
                    <source srcset="./img/menu/menu-d/borshch-d-min.png 1x, ./img/menu/menu-d/borshch-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/menu-t/borshch-t-min.png 1x, ./img/menu/menu-t/borshch-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img//menu//menu-t//borshch-t-min.png" alt="Borshch" />
                </picture>
            </li>


        </ul>
    </div>

</section>