<section class="menu-food" id="menu">
    <div class="container container-menu">
        <div class="menu-text-content">
            <h2 class="menu-title">Some of Our Favorites</h2>
            <p class="menu-text">Looking for something delicious?</p>
        </div>
        <div class="menu-img-list">
            <div class="image-border-container-menu image-border-container-mob" data-modal-title="Gamburger"
                data-modal-text="Bun, lettuce leaves, juicy cutlet, pickled cucumbers, cheese, onion, fresh tomato, ketchup, mayonnaise"
                data-modal-img="./img/menu/gamburger-t-min.png">

                <picture>
                    <source srcset="./img/menu/gamburger-d-min.png 1x, ./img/menu/gamburger-d@2x-min.png 2x"
                        media="(min-width:1280px)" />
                    <source srcset="./img/menu/gamburger-t-min.png 1x, ./img/menu/gamburger-t@2x-min.png 2x"
                        media="(min-width:768px)" />
                    <source srcset="./img/menu/gamburger-m-min.png 1x, ./img/menu/gamburger-m@2x-min.png 2x"
                        media="(max-width:767px)" />
                    <img src="./img/menu/gamburger-m-min.png" alt="Gamburger" />
                </picture>

            </div>
            <div class="image-border-container-menu image-border-container-mob" data-modal-title="Pasta"
                data-modal-text="Spaghetti, cherry tomatoes, basil, oil, spices"
                data-modal-img="./img/menu/pasta-t-min.png">

                <picture>
                    <source srcset="./img/menu/pasta-d-min.png 1x, ./img/menu/pasta-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/pasta-t-min.png 1x, ./img/menu/pasta-t@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/menu/pasta-m-min.png 1x, ./img/menu/pasta-m@2x-min.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/menu/pasta-m-min.png" alt="Pasta" />
                </picture>

            </div>
            <div class="image-border-container-menu image-border-container-mob" data-modal-title="Pizza"
                data-modal-text="Tomato sauce, mozzarella cheese, salami, olives, mushrooms, pepper"
                data-modal-img="./img/menu/pizza-t-min.png">

                <picture>
                    <source srcset="./img/menu/pizza-d-min.png 1x, ./img/menu/pizza-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/pizza-t-min.png 1x, ./img/menu/pizza-t@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/menu/pizza-m-min.png 1x, ./img/menu/pizza-m@2x-min.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/menu/pizza-m-min.png" alt="Pizza" />
                </picture>

            </div>
            <div class="image-border-container-menu image-border-container-tab" data-modal-title="Chicken"
                data-modal-text="chicken leg, rice, carrot, onion, pepper, spices"
                data-modal-img="./img/menu/chicken-t-min.png">

                <picture>
                    <source srcset="./img/menu/chicken-d-min.png 1x, ./img/menu/chicken-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/chicken-t-min.png 1x, ./img/menu/chicken-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/menu/chicken-t-min.png" alt="Chicken" />
                </picture>

            </div>
            <div class="image-border-container-menu image-border-container-tab" data-modal-title="Salad"
                data-modal-text="Salad mix, salmon, cherry tomatoes, olive oil, spices"
                data-modal-img="./img/menu/salat-t-min.png">

                <picture>
                    <source srcset="./img/menu/salat-d-min.png 1x, ./img/menu/salat-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/salat-t-min.png 1x, ./img/menu/salat-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/menu/salat-t-min.png" alt="Salad" />
                </picture>

            </div>
            <div class="image-border-container-menu image-border-container-tab" data-modal-title="Borshch"
                data-modal-text="Beef ribs, potatoes, beets, carrots, onions, cabbage, beans, parsley, spices"
                data-modal-img="./img/menu/borshch-t-min.png">

                <picture>
                    <source srcset="./img/menu/borshch-d-min.png 1x, ./img/menu/borshch-d@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/menu/borshch-t-min.png 1x, ./img/menu/borshch-t@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/menu/borshch-t-min.png" alt="Borshch" />
                </picture>

            </div>


        </div>
    </div>

</section>

<div id="menu-modal" class="menu-modal">
    <div class="menu-modal-content">
        <button type="button" class="menu-modal-close">
            <svg width="24" height="24">
                <use href="./img/icon.svg#icon-close-btn"></use>
            </svg>
        </button>

        <div class="menu-modal-img"></div>

        <h3 id="menu-modal-title"></h3>
        <p id="menu-modal-text"></p>

    </div>

</div>