<div id="mobile-menu-wrapper" class="mobile-menu-wrapper">
    <div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="navigation">
        <div class="mobile-menu-container">
            <button class="mobile-menu-close" id="menu-close" type="button" aria-label="Close menu">
                <svg width="24" height="24">
                    <use href="./img/icon.svg#icon-close-btn"></use>
                </svg>
            </button>
            <div class="mobile-menu-content">
                <ul class="mobile-menu-list">
                    <li class="menu-item"><a class="mobile-menu-link mobile-menu-link-top active"
                            href="./index.html">Home</a></li>
                    <li class="menu-item"><a class="mobile-menu-link active" href="#hero">About</a></li>
                    <li class="menu-item"><a class="mobile-menu-link active" href="#service">Service</a></li>
                    <li class="menu-item"><a class="mobile-menu-link active" href="#menu">Menu</a></li>
                    <li class="menu-item"><a class="mobile-menu-link mobile-menu-link-bottom active "
                            href="#subscribe">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>