<div id="mobile-menu-wrapper" class="mobile-menu-wrapper"></div>
<div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="navigation">
    <div class="mobile-menu-container">
        <button class="mobile-menu-close" id="menu-close" type="button" aria-label="Close menu">
            <svg width="24" height="24">
                <use href="./img/icon.svg#icon-close-btn"></use>
            </svg>
        </button>
        <div class="mobile-menu-content">
            <ul class="mobile-menu-list">
                <li><a class="mobile-menu-link mobile-menu-link-home" href="/src/index.html">Home</a></li>
                <li><a class="mobile-menu-link" href="">About</a></li>
                <li><a class="mobile-menu-link" href="">Service</a></li>
                <li><a class="mobile-menu-link" href="">Menu</a></li>
                <li><a class="mobile-menu-link" href="">Contact</a></li>
            </ul>

        </div>
    </div>
</div>
</div>