<section class="service" id="service">
    <div class="container service-container">

        <div class="service-image-box">
            <picture>
                <source
                    srcset="./img/service-food/Apple-desktop-min-min.png 1x, ./img/service-food/Apple-desctop-min2x-min.png 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./img/service-food/Apple-tab-min.png 1x, ./img/service-food/Apple-tab@2x-min.png 2x"
                    media="(min-width: 768px)" />
                <source srcset="./img/service-food/Apple-mob-min.png 1x, ./img/service-food/Apple-mob@2x-min.png 2x"
                    media="(max-width: 767px)" />
                <img src="./img/service-food/Apple-mob-min.png" alt="apple-image">
            </picture>

            <picture class="tab-image">
                <source
                    srcset="./img/service-food/Apple-tab-second-min.png 1x, ./img/service-food/Apple-tab-second@2x-min.png 2x"
                    media="(min-width: 768px)" />
                <img src="./img/service-food/Apple-tab-second-min.png" alt="apple-image">
            </picture>

            <picture class="tab-image tab-image-small">
                <source
                    srcset="./img/service-food/Apple-tab-third-min.png 1x, ./img/service-food/Apple-tab-third@2x-min.png 2x"
                    media="(min-width: 768px)" />
                <img src="./img/service-food/Apple-tab-third-min.png" alt="apple-image">
            </picture>
        </div>


        <div class="service-text-content">
            <div class="service-title-box">
                <h2 class="service-title">What’s Special About Our Offerings</h2>
                <p class="service-text">With our platform, you can browse through a diverse selection of cuisines and
                    local restaurants, and choose from a
                    variety of dishes that cater to your specific taste buds.</p>
            </div>
            <div class="service-icon-box">
                <div class="first-icon-box">
                    <div class="service-svg">
                        <svg width="32" height="32">
                            <use href="./img/icon.svg#icon-rocket"></use>
                        </svg>
                    </div>
                    <h3 class="service-icon-title">Fasest Delivery</h3>
                    <p class="service-icon-text">Our advanced logistics system and dedicated delivery partners ensure
                        that your meals are delivered to you within
                        30-minutes.</p>
                </div>
                <div class="second-icon-box">
                    <div class="service-svg">
                        <svg width="32" height="32">
                            <use href="./img/icon.svg#icon-touch"></use>
                        </svg>
                    </div>
                    <h3 class="service-icon-title">Easy To Order</h3>
                    <p class="service-icon-text">You can browse through a wide variety of cuisines and restaurants,
                        select your favorite meals, and place your order in
                        just a few clicks.</p>
                </div>

            </div>
            <div class="service-links">
                <div class="service-order-nav">
                    <a href="">Order Now</a>
                </div>
                <div class="service-read-more">
                    <a href="">Read more</a>
                    <svg width="15" height="14">
                        <use href="./img/icon.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>

    </div>
</section>