.header-list {
  display: none;
}

.page-nav-foodStr {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  display: flex;
  text-align: center;
  align-items: center;
}

.header-logo-link {
  padding-left: 20px;
}

.header-order-nav {
  display: none;
}

.burger-button {
  background-color: transparent;
  border: none;
  fill: #7eb101;
}

.burger-button:active {
  fill: #ffe450;
}

@media only screen and (max-width: 767px) {
  .page-nav-foodStr {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .header-logo-link {
    margin-right: 191px;
    padding-left: 16px;
  }

  .header-list {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    gap: 28px;
    margin-right: 30px;
  }

  .header-order-nav {
    display: block;
  }

  .header-item-home {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #bbf330;
  }

  .header-item-home:hover,
  .header-item-home:focus,
  .header-item-home:active {
    color: #ffe450;
  }

  .header-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
  .header-order-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 6px 17px;
    width: 98px;
    height: 32px;
    background-color: #bbf330;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
  }

  .header-order-nav:hover,
  .header-order-nav:focus,
  .header-order-nav:active {
    background-color: #ffe450;
  }
}

@media only screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 725px;
    padding-left: 0;
  }
}
