.header-list {
  display: none;
}

.page-nav {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  display: flex;
  text-align: center;
  align-items: center;
}

.container-header {
  padding-left: 20px;
}

.header-order-now {
  display: none;
}

.burger-button {
  fill: #80ad0d;
  background-color: transparent;
  border: none;
  transition: color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:active,
.burger-button:hover,
.burger-button:focus {
  fill: #ffe450;
}

@media only screen and (max-width: 767px) {
  .page-nav {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .page-nav-foodStr {
    display: flex;
  }
  .burger-button {
    display: none;
  }

  .header-logo-link {
    margin-right: 191px;
    padding-left: 16px;
  }

  .header-list {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    gap: 28px;
    margin-right: 30px;
  }

  .header-item-home {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #bbf330;
    transition: color 300ms ease;
  }

  .header-item-home:hover,
  .header-item-home:focus,
  .header-item-home:active {
    color: #ffe450;
  }

  .header-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    transition: color 300ms ease;
  }

  .header-item:hover,
  .header-item:focus,
  .header-item:active {
    color: #bbf330;
  }

  .order-box {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .header-order-now {
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 6px 17px;
    width: 98px;
    height: 32px;
    background-color: #bbf330;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
    transition: background-color 300ms ease;
    border: transparent;
  }

  .header-order-now:hover,
  .header-order-now:focus,
  .header-order-now:active {
    background-color: #ffe450;
  }
}

@media only screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 700px;
    padding-left: 16px;
  }
}

/* ========== Back to top Button =========  */

.back-to-top-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebe97e;
  border-radius: 50%;
  border: 1px solid #80ad0d;
  position: fixed;
  z-index: 1200;
  bottom: -50px;
  padding: 8px 8px;
  right: 16px;
  cursor: pointer;
  transition: 0.3s all;
  width: 40px;
  height: 40px;
}

.back-to-top-btn svg {
  fill: #ffe450;
}

.back-to-top-btn.back-to-top-btn-active {
  bottom: 30px;
  transition: 0.3s all;
}

@media only screen and (min-width: 768px) {
  .back-to-top-btn {
    right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .back-to-top-btn {
    right: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .back-to-top-btn {
    right: 30px;
  }
}
