.hero-container {
  padding: 60px 20px 50px 20px;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.hero-order-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  text-align: right;
  transition: background-color 300ms ease;
}

.hero-order-nav:hover,
.hero-order-nav:focus,
.hero-order-nav:active {
  background-color: #ffe450;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
  width: 280px;
}

@media screen and (max-width: 767px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .projects-wrapper-image {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-main-text {
    position: relative;
    z-index: 1; /* Текст буде під картинкою */
    width: 336px;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 537px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }

  .hero-text {
    width: 336px;
    margin-bottom: 40px;
  }

  .projects-wrapper-image {
    position: absolute;
    top: 149px;
    left: 50%;
    transform: translateX(10%); /* Центрування картинки */
    z-index: 2; /* Картинка буде поверх тексту */
    max-width: 320px;
  }
  .hero-button-next,
  .hero-button-prev {
    width: 26px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-button-next {
    right: -20px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 4px;
  }

  .hero-button-prev {
    left: -20px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 60px 32px 40px 32px;
  }
  .hero-order-nav {
    margin-bottom: 16px;
  }

  .projects-wrapper-image .swiper-container {
    border-radius: 50%;
    border: 14px;
    overflow: hidden;
    object-fit: cover;
  }

  .projects-wrapper-image img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .image-border-container {
    border-radius: 50%;
    border: 14px solid #ffe550;
    background-color: #fff;
    transition: border 300ms ease;
  }

  .image-border-container:hover,
  .image-border-container:focus,
  .image-border-container:active {
    border: 14px solid #bbf330;
  }

  .hero-button-next:active,
  .hero-button-prev:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .border-up {
    z-index: 9;
    position: relative;
    opacity: 0;
    transition: opacity 6s ease-out;
  }
  .border-up.hero-border-visible,
  .swiper-up.hero-swiper-visible,
  .button-up-right.hero-button-right-visible,
  .button-up-left.hero-button-left-visible {
    opacity: 1;
  }

  .swiper-up {
    opacity: 0;
    transition: opacity 8s ease-out;
    transition-delay: 1000ms;
  }

  .button-up-left {
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: 1500ms;
  }

  .button-up-right {
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: 1500ms;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    padding: 0 32px 0 32px;
    display: flex;
  }

  .hero-main-text {
    padding-top: 159px;
    width: 511px;
    height: 213px;
    margin-right: 125px;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  .hero-text {
    margin-bottom: 40px;
    width: 511px;
  }

  .image-border-container {
    margin-top: 14px;
    border: 26px solid #ffe550;
  }
  .projects-wrapper-image {
    max-width: 608px;
    position: relative;
    margin: 0 auto;
  }

  .image-border-container:hover,
  .image-border-container:focus,
  .image-border-container:active {
    border: 26px solid #bbf330;
  }

  .hero-button-next,
  .hero-button-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-button-next {
    right: -30px;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 4px;
  }

  .hero-button-prev {
    left: -30px;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 4px;
  }
}
