.service-container {
  padding: 41px 20px 60px 20px;
  background-image: url(../img/service-background/Rectangle-694-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .service-container {
    background-image: url(../img/service-background/Rectangle-694@2x-min.png);
  }
}

.tab-image {
  display: none;
}

.service-image-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.service-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 28px;
}

.service-text {
  font-size: 14px;
  line-height: 1.43;
  width: 280px;
  margin-bottom: 28px;
}

.service-icon-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}
.service-icon-text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 24px;
  width: 280px;
}

.service-icon-box {
  margin-bottom: 28px;
}

.service-svg {
  fill: #7eb101;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-order-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid #7eb101;
  border-radius: 30px;
  transition: background-color 300ms ease;
  width: 106px;
  height: 40px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin-right: 24px;
  cursor: pointer;
}

.service-order-nav:hover,
.service-order-nav:focus,
.service-order-nav:active {
  background-color: #bbf330;
  border: 2px solid #bbf330;
}

.service-read-more {
  font-size: 13px;
  color: #000;
  cursor: pointer;
}
.service-links {
  display: flex;
  text-align: center;
  align-items: center;
}

.service-links svg {
  width: 15px;
  height: 14px;
  vertical-align: middle;
  transform: translateY(-1px);
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .service-container {
    padding: 100px 32px 88px 32px;
    background-image: url(../img/service-background/Rectangle-tab718-min.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transform: translateY(-100px);
  }

  .tab-image {
    display: block;
  }

  .service-icon-text {
    width: 288px;
  }
}

@media only screen and (min-width: 768px) {
  .service-image-box img {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab-image {
    margin-left: 29px;
    transform: translateY(+115px);
  }

  .tab-image-small {
    margin-left: 44px;
    transform: translateY(+180px);
  }

  .service-title {
    font-weight: 700;
    font-size: 42px;
    width: 526px;
    margin-bottom: 20px;
  }

  .service-text {
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
  }

  .service-icon-text {
    margin-bottom: 0;
  }

  .service-icon-box {
    display: flex;
    gap: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 824px;
    padding: 40px 18px 43px 18px;
    background-image: url(../img/service-background/Rectangle-desctop694-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transform: translateY(-150px);
  }

  .service-image-box img {
    margin-bottom: 0;
    margin-top: 0;

    margin-right: 90px;
  }

  .service-image-box {
    margin-top: 170px;
  }

  .first-icon-box,
  .second-icon-box,
  .service-icon-text {
    width: 253px;
  }
  .service-text-content {
    margin-top: 170px;
  }

  .service-read-more {
    display: none;
  }
}
